.event__info-table-data {
    width: calc(704px / 2);
    margin: 0;
    padding: 16px;
}

/* ставим бордер только между двумя ячейками, не снаружи */
.event__info-table-data + .event__info-table-data {
    border-left: 2px solid #D0D0D0;
}