.competitors__position {
    font-family: 'GolosText-Regular';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 20px 0;
    color: rgba(49, 49, 49, .6);
}

@media screen and (max-width: 475px) {
    .competitors__position {
font-size: 20px;
font-weight: 400;
line-height: 24px;

    }
    
}