.event__info-table-row {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #D0D0D0;
}

.event__info-table-row:last-child {
    border-bottom: none;
}

.event__info-table-row:first-child .title,
.event__info-table-row:first-child .info {
    padding-top: 0;
}

.event__info-table-row:last-child .title,
.event__info-table-row:last-child .info {
    padding-bottom: 0;
}

@media screen and (max-width: 1085px) {
    .event__info-table-row {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .event__info-table-row .info {
    padding-top: 0;
    }
    .event__info-table-row:nth-child(4) {
        flex-direction: row;
        align-items: baseline;
    }
    .event__info-table-row:nth-child(4) > .title {
        width: 141px;
    }
    .event__info-table-row:last-child .title {
    padding-bottom: 15px;
}
}