.competitors__competitor-card {
    display: flex;
    width: 394px;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 475px) {
    .competitors__competitor-card {
        width: 335px;
    }
}