.stages {
    margin: 165px 72px 0;
    /* margin: 200px 72px 0; (по макету - 200px) */
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1367px) {
    .stages {
        justify-content: center;
        align-items: center;
    }
}