.welcome-section__title {
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    /* text-align: left; */
    color: #313131;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}