.stages__image {
    position: absolute;
    left: 57%;
    bottom: 0;
}

@media screen and (max-width: 1304px) {
    .stages__image {
        max-width: 320px;
        max-height: 188px;
    }
}

@media screen and (max-width: 1296px) {
    .stages__image {
        left: 65%;
    }
}

@media screen and (max-width: 1212px) {
    .stages__image {
        max-width: 275px;
        max-height: 162px;
    }
}

@media screen and (max-width: 1150px) {
    .stages__image {
        max-width: 240px;
        max-height: 141px;
        bottom: 10px;
        left: 70%;
    }
}

@media screen and (max-width: 990px) {
    .stages__image {
        max-width: 335px;
        max-height: 182px;
        left: 5%;
        top: -100px;
    }
}