.event__info-table {
    display: flex;
    flex-direction: column;
    max-width: 704px;
    margin: 0;
    padding-top: 60px;
}

@media screen and (max-width: 990px) {
    .event__info-table {
        padding-top: 40px;
    }
}

@media screen and (max-width: 375px) {
    .event__info-table {
        padding-top: 45px;
    }
}