.stages__item-text {
    margin: 0;
    width: 302px;
    font-family: 'GolosText-Regular';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.stages__item-text:nth-child(7) {
    width: 446px;
}